@font-face {
    font-family: 'action_nba_webmedium';
    src: url('fonts/action-nba-10.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'action_nba_weblight';
    src: url('fonts/action-nba-3.woff2') format('woff2');
    font-weight: 300; /* Increase font weight */
    font-style: normal;
}
body {
    font-family: 'action_nba_webmedium', sans-serif; /* Apply the custom font to the body */
    letter-spacing: 0.05em; /* Add letter spacing */
}

p {
    font-family: 'Roboto', sans-serif; /* Apply the new font family to paragraphs */
    font-size: 1.5rem; /* Decrease font size for paragraphs */
    letter-spacing: 0.05em; /* Add letter spacing */
}

h1, h3, h5 {
    font-family: 'action_nba_webmedium', sans-serif; /* Apply the custom font to headings */
    letter-spacing: 0.05em; /* Add letter spacing */
}

h1 {
    font-size: 80px; /* Increase font size for h1 */
}

h3 {
    font-size: 45px; /* Increase font size for h3 */
}
h4 {
    font-size: 30px; /* Increase font size for h4 */
}

h5 {
    font-size: 20px; /* Decrease font size for h5 */
}

#trychart{
    width: 100% !important;
    min-height: 400px;
}


#barChart {
    width: 100% !important;
    min-height: 600px;
}

#achievementChart {
    width: 100% !important;
    min-height: 600px; /* Increased height */
}

h1.chart-title {
    padding-top: 20px; /* Adjust the padding as needed */
    text-align: center; /* Center the text */
}

.chart-title {
    font-size: 24px; /* Adjust the font size for the chart title */
}

.chart-legend {
    font-size: 12px; /* Adjust the font size for the legend labels */
}

.pie-chart-container {
    width: 100%; /* Adjust the width to fit three in a row */
    height: 200px; /* Adjust the height to make the charts smaller */
    margin: 0 auto; /* Center the pie chart */
    display: inline-block; /* Display inline to fit side by side */
    text-align: center; /* Center the text under the pie chart */
}


.Logo {
    max-width: 75px;
    width: 100%; /* Make the image responsive */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Make the image a block element */
    margin: 0 auto; /* Center the image */
}

.nav {
    background-color: black;
}

#title{
    margin-top: 30px;
    margin-bottom: 50px;
}