@font-face {
    font-family: 'CustomFont';
    src: url('fonts/action-nba-10.tiff') format('tiff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'CustomFont', sans-serif; /* Apply the custom font to the body */
}

#trychart{
    width: 100% !important;
    min-height: 400px;
}


#barChart {
    width: 100% !important;
    min-height: 400px;
}

#achievementChart {
    width: 100% !important;
    min-height: 600px; /* Increased height */
}

h1.chart-title {
    padding-top: 20px; /* Adjust the padding as needed */
    text-align: center; /* Center the text */
}

.chart-title {
    font-size: 24px; /* Adjust the font size for the chart title */
}

.chart-legend {
    font-size: 12px; /* Adjust the font size for the legend labels */
}

.pie-chart-container {
    width: 100%; /* Adjust the width to fit three in a row */
    height: 200px; /* Adjust the height to make the charts smaller */
    margin: 0 auto; /* Center the pie chart */
    display: inline-block; /* Display inline to fit side by side */
    text-align: center; /* Center the text under the pie chart */
}

p {
    font-size: 14px; /* Increase font size for paragraphs */
}

h5 {
    font-size: 14px; /* Make the titles smaller */
    text-align: center; /* Center the text */
}

