#chart1{
    width: 100px;
}



#achievementChart, {
  width: 100% !important;

}
#barChart {
width: 100% !important;
 min-height: 200px;
 
}

h1.chart-title {
  padding-top: 20px; /* Adjust the padding as needed */
  text-align: center; /* Center the text */
}

.chart-title {
  font-size: 20px; /* Adjust the font size for the chart title */
}

.chart-legend {
  font-size: 12px; /* Adjust the font size for the legend labels */
}


p {
  font-size: 16px; /* Ensure paragraphs have the same font size */
}

